# Put me in /etc/systemd/system/
# Change the 'WorkingDirectory' and 'ExecStart' paths

[Unit]
Description=NvidiaFE-notify bot
After=multi-user.target

[Service]
Type=simple
Restart=always
WorkingDirectory=/path/to/directory/NvidiaFE-notify/script/
ExecStart=/usr/bin/python3 /path/to/script/NvidiaFE-notify/script/bot.py

[Install]
WantedBy=multi-user.target